<div class="row">
    <div class="col-4">
        <p class="pg"> >> PLAYER 1     </p> 
        <img src="{{fightInput.pg[0].urlimg}}" class="dimimg bgimg">
        <p class="max">{{fightInput.pg[0].name}} </p>
        <p class="max">>> LIFEPOINTS LEFT : {{fightInput.pg[0].lifePoints}} </p>
        <p class="max">>> SKILL ? {{fightInput.pg[0].skill}}</p>
    </div>
    <div class="col-4">
        <p class="pg"> >> PLAYER 2     </p> 
        <img src="{{fightInput.pg[1].urlimg}}" class="dimimg bgimg">
        <p class="max">{{fightInput.pg[1].name}} </p>
        <p class="max">>> LIFEPOINTS LEFT : {{fightInput.pg[1].lifePoints}} </p>
        <p class="max">>> SKILL ? {{fightInput.pg[1].skill}}</p>
    </div>
    <!-- per adesso lascio gli indici dopo ciclo sui char -->
</div>