<div class="container">
    <div class="row rowOption">
        <div class="col">
          <!-- <p class="clickable clfont" routerLink="/selection"> Vai alla selezione dei personaggi </p> -->
            <img src="/assets/img/char_select.png" routerLink="/selection" class="clickable chars img">
        </div>
        <!-- cliccando su random devo invocare il metodo random e mandarlo diretto nella schermata di lotta effettiva -->
        <div class="col">
            <img src="/assets/img/random_char_select.png" routerLink="/fight" class="clickable rchars">
        </div>
    </div>
</div>

