
.rowOption {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-right: 10px;
  }
.rchars{
    padding-top: 3%;
    padding-left: 30%;
}
.chars{
    padding-left: 35%;
}
.img{
    padding-top: 10%;
}
.font{
    font-family: 'Baloo Bhai 2';
    font-weight: 600;
    font-size: 32pt;
    color : rgb(252, 167, 9);
}
.pos{
    display: flex;
    justify-content: center;
}