
  .img1{
    max-width: 65%;
    height: auto;
  }
  .img2{
    max-width: 45%;
    height: auto; 
    display:flex;
   
    flex-direction: row;
  }

  .test{
    flex-direction: row;
  }
  .img3{
    max-width: 40%;
    height: auto;
  }
  .img4{
    max-width: 55%;
    height: auto;
  }
  .img-wrap{
    position: relative;
    padding: 100% 0 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-3{
    padding-bottom: 3px;
     
  }
  .col{
    border: solid;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.678);
  }
  .col:hover{
    background-color: rgba(252, 167, 9, 0.226);
  }
  .dimcard{
    width: 140px;
    height: 160px;
  }

  .card{
    /*background-color: rgba(184, 135, 11, 0);*/
    background-color: rgba(0, 0, 0, 0.678);
    
  }
  .card:hover{
    /*background-color: rgba(255, 0, 0, 0.39); */
    background-color: rgba(41, 40, 40, 0.575);
  }
  
  .card-body{
    background-color: rgb(0, 0, 0);
    width: 140px;
    height: 160px;
  }

  p{
    font: 8pt bold;
    color: red;
  }

  .btn{
    text-align: center;
  }

  .dimimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .pg{
    background-color: black;
  }
  .font{
    font-family: 'Baloo Bhai 2';
    font-weight: 600;
    font-size: 11pt;
    color : rgb(252, 167, 9);
}

.bg-w{
 width: 100px;
 height: 100px;
 border-radius: 50%;
 position: absolute;
 right: 260px;
 bottom : 30px;
 background-color: rgb(248, 123, 6);
 color : rgb(40, 2, 49);
 font-size: 13pt;
 font-weight: 900;
}

.allinea{
  padding-top: 40px;
  padding-right: 30px;
}

.a{
  font-size: 20pt;
  position: relative;
  right:-180px;
}