<div class="bg">
    <div class="row" >    
           <div class="col-8">   
               <div class="row" > 
                   <div class="col-3" *ngFor="let charter of chart">
                    <app-charter [inputChar]="charter"></app-charter>  
                    <div *ngIf="selectionpgService.fightStart()">
                        <div routerLink="/fight"></div>
                    </div>
                </div> 
            </div>
        </div>  
        <div class="col-4">
            <div class="row"  *ngFor="let f of selectService.fights; let i=index ;">
                <div *ngFor = "let c of f.pg; let j=index">
                    <div class="col">          
                        <p class="pg"> >> PERSONAGGIO {{i+j+1}}     </p> 
                        <img src="{{c.urlimg}}" class="dimimg">
                    </div>
                </div>
            </div> 
            <input type="submit" routerLink="/fight" value="Combatti" class="btn btn-primary" >       
        </div>  
    </div>

    <div class="row">
        <div class="col"><input type="submit" routerLink="/fight" value="Combatti" class="btn btn-primary" ></div>
    </div>
</div> 