 <div class="container"> 
   <div class="row">
        <div class="col-12">
        <div class="f"> Quanti giocatori totali? </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <input type="radio" id="male" name="gender" value="male">
            <label for="male"><h2>4</h2></label><br>
        </div>
        <div class="col-1">
            <input type="radio" id="female" name="gender" value="female">
            <label for="female"><h2>8</h2></label><br>
        </div>
        <div class="col-1">
            <input type="radio" disabled id="other" name="gender" value="other">
            <label for="other"><h2>16 </h2></label>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
                <input type="submit" class="input" value="Procedi" routerLink="/selection" class="btn btn-primary cx">
        </div>
        </div>
    </div> 