 <div class="container1"> 
     <div *ngIf = "!fightService.show()">
    <div class="row">
            <div class="col-12">
            <div class="font dim"> Quanti giocatori totali? </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <input type="radio" (click)="selectService.getNumFighters(4)">
                <label><h2 class="font">4</h2></label><br>
            </div>
            <div class="col-1">
                <input type="radio" (click)="selectService.getNumFighters(8)">
                <label><h2 class="font">8</h2></label><br>
            </div>
            <div class="col-1">
                <input type="radio" disabled >
                <label><h2 class="font">16 </h2></label>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                    <input type="submit" value="Procedi" routerLink="/selection-menu" class="btn btn-primary bg-warning"
                    (click)="selectService.setTVar()">
            </div>
        </div>
    </div>
 </div>
<div class="container ">
    <div *ngIf = "fightService.show()">
        
            <app-fight >  </app-fight>
        
        
    </div>
</div>