p{
    word-wrap: break-word;
    white-space:pre-wrap;
    
}

.col {
    display: flex;
    justify-content: center;
}
.pad{
    padding-top: 1%;
    
}
.input{
    border: 1px solid red;
    background-color: tomato;
}

.row{
    margin-bottom: 2%;
    
}
.col-1{
    margin-left: 1%;
}

  .font{
    font-family: 'Baloo Bhai 2';
    font-weight: 600;
    font-size: 18pt;
    color : rgb(252, 167, 9);
    display: flex;
    justify-content: center;

}

.dim{
    font-size: 22pt;
}
.bg-warning{
    position: absolute;
    right : 75%;
    width: 120px;
    height: 60px;
}