<html>
<div class="background">
   <div class="row">
      <div class="col index-font">
          <!--<p class="border clickable" routerLink="/match">  Play 1 vs 1 </p> -->
          <img src="/assets/img/1vs1.png" class="clickable vs" routerLink="/match">
        </div>
   </div>
    <div class="row">
      <!-- <div class="col-6 index-font clickable">Play Tournament</div> -->
      <img src="/assets/img/tournament.png" class="clickable tournament" routerLink="/tournament">
   </div>
</div>
</html>