<div class="bg">
    <div class="row" >    
           <div class="col-8">   
               <div class="row" > 
                   <div class="col-3" *ngFor="let charter of characters">
                       <img src="{{charter.urlimg}}" class="clickable card dimcard" 
                       (click)="tournamentService.insertInTournament(charter)" >
                       <div class="card-body">
                           <p> >> NAME : {{charter.name}} </p>
                           <p> >> LIFEPOINTS : {{charter.lifePoints}}</p>
                           <p> >> STR : {{charter.str}}</p>
                           <p> >> DEF : {{charter.def}}</p>
                           <p> >> DEX : {{charter.dex}}</p>
                           <p> >> INT : {{charter.int}}</p>
                       </div>
                       
                       <div *ngIf="tournamentService.fightStart()">
                           <div routerLink="/fight"></div>
                       </div>
                   </div> 
               </div>
           </div>  

           <div class="col-4">
               <div class="row" >
                   <div class="col" *ngFor="let c of tournamentService.mycharacters; let i=index ;">
                       
                            <p class="pg"> >> PERSONAGGIO {{i+1}}     </p> 
                            <img src="{{c.urlimg}}" class="dimimg">

                   </div>
               </div>
           </div>
            
       </div>
   
       <div class="row">
           <div class="col"><input type="submit" routerLink="/tournament" value="Combatti" class="btn btn-primary"
            (click) = "fightService.change()" ></div>
       </div>
   </div> 
