<h1 class="under">________________</h1><br><br>
<img src="{{inputChar.urlimg}}" class="clickable card dimcard" 
(click)="selectService.insertInFight2(inputChar)"
>
<div class="card-body">
     <h1 class="font"> >> NAME : {{inputChar.name}} </h1>
     <h1 class="font"> >> LIFEPOINTS : {{inputChar.lifePoints}}</h1>
     <h1 class="font"> >> STR : {{inputChar.str}}</h1>
     <h1 class="font"> >> DEF : {{inputChar.def}}</h1>
     <h1 class="font"> >> DEX : {{inputChar.dex}}</h1>
     <h1 class="font"> >> INT : {{inputChar.int}}</h1>
</div>
